body {
    font-family: 'Noto Serif JP', serif;
    color: #fff;
}

li {
    color: #fff;
}

h2 {
    font-size: 60px;
    text-align: center;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
}

.title {
    padding: 15px 0 0 15px;
}

a {
    color : inherit;
    text-decoration: none;
}

a:hover {
    color: #AD1616;
    transition : 1.0s;
}


.g-nav {
    margin-left: auto;
}

.g-nav-menu li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 15px;
}

#wrapper {
    width: 100%;
    background-color: #000;
}

.hero img {
    width: 100%;
    height: auto;
}

.main {
    width: 90%;
    margin: 0 auto
}

.content {
    margin: 100px 0;
}

.content ul {
    margin-top: 60px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-item {
    display: block;
    width: 350px;
    height: 400px;
    /*background-color: #d22d72;*/
    margin-bottom: 30px;
}

.content-item img {
    width: 100%
}

.content-action-menu {
    display: flex;
}

.content-action-download {
    width: 60%;
    height: 40px;
    margin: 5px 10px;
    vertical-align: center;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
}

.content-download-form {
    width:60%;
    margin-right: 30px;
}

.content-action-download-active {
    width: 100%;
    height: 40px;
    margin: 5px 10px;
    vertical-align: center;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
}

.content-action-download:hover {
    color: #AD1616;
    border: 2px solid #AD1616;
    transition: 0.5s;
}

.content-action-download-active:hover {
    color: #AD1616;
    border: 2px solid #AD1616;
    transition: 0.5s;
}

.content-action-image {
    width: 10%;
    padding-top: 10px;
}

.content-action-image img {
    /*width: 50%;*/

}

.content-action-count {
    width:30%;
}

.content-action-count p {
    padding-top: 20px;
    text-align: center;
}

.document {
    margin: 100px 0;
}

.document ul {
    margin-top: 60px;
}

.document-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.document-item {
    display: block;
    width: 500px;
    /*height: 400px;*/
    /*background-color: #d22d72;*/
    margin-bottom: 30px;
}

.document-button {
    width: 100%;
    font-size: 30px;
    height: 90px;
    margin: 5px 10px;
    vertical-align: center;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

.document-button:hover {
    color: #AD1616;
    border: 1px solid #AD1616;
    transition: 0.5s;
}

.document-support {
    margin: 5px 10px;
}

.document-support p {
    font-size: 25px;
}

.document-support span {
    color: #AD1616;
}

footer {
    margin-top: 200px;
    padding: 20px;
    border-top: 1px solid #fff;
}

footer p {
    text-align: center;
}

